# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Study\web\dashiyan\Web应用系统实践-计科1702班-2017011413-李皓瑜\Personal Finance System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
